<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login.css">
    <title>Login</title>
</head>
<body>
    <h1>Sign In or Register</h1>

    <div class="buttonContainer">
        <div id="signIn" class="button">Sign In</div>
        <div id="register" class="button">Register</div>
    </div>
</body>
</html>

<script src="../static/login.js"></script>