<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/question2.css">
    <title>Retail Question 2</title>
</head>
<body>
    <h1>Retail Question 2</h1>

    <div class="buttonContainer">
        <div id="home" class="button">Home</div>
    </div>
</body>
</html>

<script src="../static/question2.js"></script>