<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/question1.css">
    <title>Retail Question 1</title>
</head>
<body>
    <h1>Retail Question 1</h1>

    <div class="buttonContainer">
        <div id="home" class="button">Home</div>
    </div>
    
    <table>
        <caption>Total Spend Per Year</caption>
        <tr>
            <th>2018</th>
            <th>2019</th>
            <th>2020</th>
        </tr>

        <tr>
            <td>{{sum2018}}</td>
            <td>{{sum2019}}</td>
            <td>{{sum2020}}</td>
        </tr>
    </table>

    <div class="infoContainer">
        <p>In order to show the trend in spending across consumers, this table presents to the total sum of spending in each year. The lowest spending was in 2018, the spending nearly tripled in 2019, then dropped off again in 2020.</p>
    </div>
</body>
</html>

<script src="../static/question1.js"></script>