<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/uploadHouseholds.css">
    <title>Upload Households</title>
</head>
<body>
    <h1>Upload Households</h1>

    <div class="buttonContainer">
        <div id="home" class="button">Home</div>
    </div>

    <!-- This is line below is the one that needs to be deployed because the localhost url doesn't work on deployed site -->
    <form class="inputContainer" action="https://cloudcomputinggroup8final.azurewebsites.net/uploadHouseholds" method="post">
    <!-- <form class="inputContainer" action="http://localhost:5000/uploadHouseholds" method="post"> -->
        <div class="input">
            <p>HSHD_NUM:</p>
            <input type="text" id="hshd_num" name="hshd_num" class="inputValue">
        </div>
        <div class="input">
            <p>L:</p>
            <input type="text" id="l" name="l" class="inputValue">
        </div>
        <div class="input">
            <p>AGE_RANGE:</p>
            <input type="text" id="age_range" name="age_range" class="inputValue">
        </div>
        <div class="input">
            <p>MARITAL:</p>
            <input type="text" id="marital" name="marital" class="inputValue">
        </div>
        <div class="input">
            <p>INCOME_RANGE:</p>
            <input type="text" id="income_range" name="income_range" class="inputValue">
        </div>    
        <div class="input">
            <p>HOMEOWNER:</p>
            <input type="text" id="homeowner" name="homeowner" class="inputValue">
        </div>  
        <div class="input">
            <p>HSHD_COMPOSITION:</p>
            <input type="text" id="hshd_composition" name="hshd_composition" class="inputValue">
        </div>  
        <div class="input">
            <p>HH_SIZE:</p>
            <input type="text" id="hh_size" name="hh_size" class="inputValue">
        </div> 
        <div class="input">
            <p>CHILDREN:</p>
            <input type="text" id="children" name="children" class="inputValue">
        </div>     
        <div class="input">
            <input id="uploadButton" type="submit" value="Upload" class="button">
        </div>
    </form>


</body>
</html>

<script src="../static/uploadHouseholds.js"></script>
