<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/upload.css">
    <title>Upload</title>
</head>
<body>
    <h1>Upload</h1>

    <!-- This is line below is the one that needs to be deployed because the localhost url doesn't work on deployed site -->
    <!-- <form class="inputContainer" action="https://cloudcomputinggroup8final.azurewebsites.net/register" method="post"> -->
    <form class="inputContainer" action="http://localhost:5000/upload" method="post">
        <div class="input">
            <label for="username">BASKET_NUM:</label><br>
            <input type="text" id="basket_num" name="basket_num" class="inputValue"><br>
        </div>
        <div class="input">
            <label for="password">HSHD_NUM:</label><br>
            <input type="password" id="hshd_num" name="hshd_num" class="inputValue"><br>
        </div>
        <div class="input">
            <label for="verifyPassword">PURCHASE_:</label><br>
            <input type="password" id="purchase_" name="purchase_" class="inputValue"><br>
        </div>
        <div class="input">
            <label for="email">PRODUCT_NUM:</label><br>
            <input type="text" id="product_num" name="product_num" class="inputValue"><br>
        </div>
        <div class="input">
            <label for="username">SPEND:</label><br>
            <input type="text" id="spend" name="spend" class="inputValue"><br>
        </div>
        <div class="input">
            <label for="username">UNITS:</label><br>
            <input type="text" id="units" name="units" class="inputValue"><br>
        </div>
        <div class="input">
            <label for="username">STORE_R:</label><br>
            <input type="text" id="store_r" name="store_r" class="inputValue"><br>
        </div>
        <div class="input">
            <label for="username">WEEK_NUM:</label><br>
            <input type="text" id="week_num" name="week_num" class="inputValue"><br>
        </div>
        <div class="input">
            <label for="username">YEAR:</label><br>
            <input type="text" id="year" name="year" class="inputValue"><br>
        </div>        
        <div class="input">
            <input id="uploadButton" type="submit" value="Register" class="button">
        </div>
    </form>
</body>
</html>

<script src="../static/upload.js"></script>
