<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/uploadTransactions.css">
    <title>Upload Transactions</title>
</head>
<body>
    <h1>Upload Transactions</h1>

    <div class="buttonContainer">
        <div id="home" class="button">Home</div>
    </div>

    <!-- This is line below is the one that needs to be deployed because the localhost url doesn't work on deployed site -->
    <!-- <form class="inputContainer" action="https://cloudcomputinggroup8final.azurewebsites.net/uploadTransactions" method="post"> -->
    <form class="inputContainer" action="http://localhost:5000/uploadTransactions" method="post">
        <div class="input">
            <p>BASKET_NUM:</p>
            <input type="text" id="basket_num" name="basket_num" class="inputValue">
        </div>
        <div class="input">
            <p>HSHD_NUM:</p>
            <input type="text" id="hshd_num" name="hshd_num" class="inputValue">
        </div>
        <div class="input">
            <p>PURCHASE_DATE:</p>
            <input type="text" id="purchase_date" name="purchase_date" class="inputValue">
        </div>
        <div class="input">
            <p>PRODUCT_NUM:</p>
            <input type="text" id="product_num" name="product_num" class="inputValue">
        </div>
        <div class="input">
            <p>SPEND:</p>
            <input type="text" id="spend" name="spend" class="inputValue">
        </div>
        <div class="input">
            <p>UNITS:</p>
            <input type="text" id="units" name="units" class="inputValue">
        </div>
        <div class="input">
            <p>STORE_R:</p>
            <input type="text" id="store_r" name="store_r" class="inputValue">
        </div>
        <div class="input">
            <p>WEEK_NUM:</p>
            <input type="text" id="week_num" name="week_num" class="inputValue">
        </div>
        <div class="input">
            <p>YEAR:</p>
            <input type="text" id="year" name="year" class="inputValue">
        </div>        
        <div class="input">
            <input id="uploadButton" type="submit" value="Upload" class="button">
        </div>
    </form>

    <div class="infoContainer">
        <p>{{message}}</p>
    </div>
</body>
</html>

<script src="../static/uploadTransactions.js"></script>
